@using Zlagoda.Enums;
@using Zlagoda.Services;

<div class="container pt-4 user-details">
    <div class="row mb-3 mt-2">
        <div class="col d-flex justify-content-between align-items-center flex-nowrap">
            <h4 class="text-start w-100">Коротка інформація про товар в магазині</h4>
            <a asp-action="Index" class="btn btn-sm btn-secondary d-inline" style="min-width: 100px;">Назад</a>
        </div>
    </div>
    <div class="row g-2">
        @{
            var user = ClaimsService.GetUserFromClaims(Context.User);
        }
        @if (user.empl_role == nameof(UserRoles.Manager))
        {
            <div class="col-4">
                <label>Назва товару</label>
                <br>
                <span>@Model.ProductName</span>
            </div>
            <div class="col-4">
                <label>Ціна продажу</label>
                <br>
                <span>@Model.Price.ToString("0.00")$</span>
            </div>
            <div class="col-4">
                <label>Кількість товару, що залишився</label>
                <br>
                <span>@Model.ProductsNumber шт.</span>
            </div>
            <div class="col-12">
                <label>Характеристики</label>
                <br>
                <span>@Model.Characteristics</span>
            </div>
        }
        else
        {
            <div class="col-6">
                <label>Ціна продажу</label>
                <br>
                <span>@Model.Price.ToString("0.00")$</span>
            </div>
            <div class="col-6">
                <label>Кількість товару, що залишився</label>
                <br>
                <span>@Model.ProductsNumber шт.</span>
            </div>
        }
    </div>
    @if (user.empl_role == nameof(UserRoles.Manager))
    {
        <div class="row mt-5">
            <div class="col d-flex justify-content-between align-items-center flex-nowrap">
                <h5 class="text-start w-100">Кількість товару проданого за даний період: @(Model.SoldInPeriodQuantity == -1 ? "" : Model.SoldInPeriodQuantity.ToString() + " шт.")</h5>
            </div>
        </div>
        <form method="GET" asp-action="BriefInfo">
            <div class="row g-2">
                @{
                    var urlStartDate = Context.Request.Query["start-date"].FirstOrDefault();
                    var urlEndDate = Context.Request.Query["end-date"].FirstOrDefault();
                    DateTime? startDate, endDate;
                    startDate = urlStartDate is not null && urlStartDate != "" ? DateTime.Parse(urlStartDate) : null;
                    endDate = urlEndDate is not null && urlEndDate != "" ? DateTime.Parse(urlEndDate) : null;
                }
                <div class="col-5">
                    <input type="date" class="form-control" value="@startDate?.ToString("yyyy-MM-dd")" name="start-date" id="start-date" required>
                </div>
                <div class="col-5">
                    <input type="date" class="form-control" value="@endDate?.ToString("yyyy-MM-dd")" name="end-date" id="start-date" required>
                </div>
                <div class="col-2">
                    <button type="submit" class="form-control btn btn-dark">Застосувати</button>
                </div>
            </div>
        </form>
    }
</div>