@using Zlagoda.Business.Entities;
@model Zlagoda.Models.StoreProductListViewModel;

<style>
    .page-buttons {
        border: 2px solid;
        font-weight: 500;
        max-width: 220px;
        width: 100%;
    }

    .table-responsive {
        margin: 20px 0 40px 0;
    }
</style>
<div class="container-fluid pt-4">
    <div class="error-list mb-2">
        @foreach (var error in Model.Errors)
        {
            <span class="error">@error<i class="fa-solid fa-xmark close"></i></span>
        }
    </div>
    <div class="row mb-3">
        <div class="col d-flex justify-content-between align-items-center flex-nowrap">
            <h4 class="text-start w-100">Список товарів в магазині</h4>
            <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-secondary" style="min-width: 100px;">Назад</a>
        </div>
    </div>
    <div class="row justify-content-between align-items-end">
        <div class="col-12 col-xl-8 search-container flex-wrap flex-md-nowrap">
            <!-- dropdown -->
            <div class="dropdown col-12 col-md-3 col-xl-2 me-2">
                <label>Показати товари</label>
                <br>
                <div class="btn-group w-100">
                    <button class="btn btn-sm dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @{
                            var urlPromo = Context.Request.Query["promo"].FirstOrDefault();
                            string selectedPromoFilter = "Усі товари";
                            if (urlPromo == "true")
                                selectedPromoFilter = "Товари зі знижкою";
                            if (urlPromo == "false")
                                selectedPromoFilter = "Товари без знижки";

                        }
                        @selectedPromoFilter
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-route-promo="" asp-route-sorting="@Model.Sorting">
                                Усі товари
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-route-promo="true" asp-route-sorting="@Model.Sorting">
                                Товари зі знижкою
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-route-promo="false" asp-route-sorting="@Model.Sorting">
                                Товари без знижки
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="dropdown col-12 col-md-3 col-xl-2 me-2">
                <label>Сортувати за</label>
                <br>
                <div class="btn-group w-100">
                    <button class="btn btn-sm dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @{
                            var urlSorting = Context.Request.Query["sorting"].FirstOrDefault();
                            string selectedSortingFilter = "Не сортувати";
                            if (urlSorting == "quantity")
                                selectedSortingFilter = "За кількістю";
                            if (urlSorting == "name")
                                selectedSortingFilter = "За назвою";
                        }
                        @selectedSortingFilter
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-route-sorting="" asp-route-promo="@Model.Promo">
                                Не сортувати
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-route-sorting="quantity" asp-route-promo="@Model.Promo">
                                За кількістю
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-route-sorting="name" asp-route-promo="@Model.Promo">
                                За назвою
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-inline-flex col-12 col-md-6 col-xl-8 flex-column" style="margin-top: 1px;">
                <label>Отримати інформацію про товар за UPC</label>
                <div class="form-group d-inline-flex w-100">
                    <input type="text" class="form-control search w-100" id="get-store-products-info-input" placeholder="UPC товару" required>
                    <a class="btn btn-dark search-btn" id="get-store-products-info-btn" style="min-width: 180px;" href="">Отримати інформацію</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-xl-4" style="text-align: end">
            <!-- buttons -->
            <a class="btn btn-sm btn-outline-dark page-buttons" asp-action="Create">Додати товар в магазині</a>
            <a class="btn btn-sm btn-outline-dark page-buttons" id="print-store-products">Друк товарів в магазині</a>
        </div>

    </div>


    <!-- TABLE -->
    <div class="table-responsive">
        <table class="table table-striped table-sm printable" id="store-products-table">
            <thead>
                <tr>
                    <th scope="col">UPC</th>
                    <th scope="col">Назва товару</th>
                    <th scope="col">Ціна</th>
                    <th scope="col">Кількість</th>
                    <th scope="col">Тег</th>
                    <th scope="col" style="width: 130px;" class="noprint">Редагувати</th>
                    <th scope="col" style="width: 120px;" class="noprint">Видалити</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var number = 0;
                }
                @foreach (var product in Model.StoreProducts)
                {
                    number++;
                    <tr>
                        <td>@product.UPC</td>
                        <td>@product.product?.product_name</td>
                        <td>@product.selling_price$</td>
                        <td>@product.products_number шт.</td>
                        <td>
                            @if(!product.promotional_product)
                            {
                                <span class="bg-warning product-tag">Без знижки</span>
                            }
                            else
                            {
                                <span class="bg-success product-tag">Акційний</span>
                            }
                        </td>
                        <td class="noprint">
                            <a class="btn btn-sm btn-outline-primary edit-delete-btn" asp-action="Edit" asp-route-id="@product.UPC">
                                <i class="fa-solid fa-pen-to-square me-2"></i>
                                Редагувати
                            </a>
                        </td>
                        <td class="noprint">
                            <a class="btn btn-sm btn-outline-danger edit-delete-btn" asp-action="Delete" asp-route-id="@product.UPC">
                                <i class="fa-solid fa-trash me-2"></i>
                                Видалити
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>