@using Zlagoda.Business.Entities;

<style>
    .page-buttons {
        border: 2px solid;
        font-weight: 500;
        width: 175px;
    }

    .table-responsive {
        margin: 20px 0 40px 0;
    }
</style>
<div class="container-fluid pt-4">
    <div class="error-list mb-2">
        @foreach (var error in Model.Errors)
        {
            <span class="error">@error<i class="fa-solid fa-xmark close"></i></span>
        }
    </div>
    <div class="row mb-3">
        <div class="col d-flex justify-content-between align-items-center flex-nowrap">
            <h4 class="text-start w-100">Список працівників магазину</h4>
            <a asp-action="Index" asp-controller="Home" class="btn btn-sm btn-secondary" style="min-width: 100px;">Назад</a>
        </div>
    </div>
    <div class="row justify-content-between align-items-end">
        <div class="search-container col-12 col-md-6 col-lg-8">
            <!-- dropdown -->
            <div class="dropdown col-2 me-2">
                <label>Фільтрація працівників</label>
                <br>
                <div class="btn-group w-100">
                    <button class="btn btn-sm dropdown-toggle page-buttons" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @(Context.Request.Query["show"] == "cashiers" ? "Касири" : "Усі працівники")
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-route-show="">
                                Усі працівники
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-route-show="cashiers">
                                Касири
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="d-inline-flex col-10 flex-column" style="margin-top: 1px;">
                <label>Отримати інформацію про працівника за прізвищем</label>
                <div class="form-group d-inline-flex w-100">
                    <input type="text" class="form-control search w-100" id="get-employees-info-input" placeholder="Прізвище працівника" required>
                    <a class="btn btn-dark search-btn" id="get-employees-info-btn" style="min-width: 180px;" href="">Отримати інформацію</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4" style="text-align: end">
            <!-- buttons -->
            <a class="btn btn-sm btn-outline-dark page-buttons" asp-action="Create">Додати працівника</a>
            <a class="btn btn-sm btn-outline-dark page-buttons" id="print-employees">Друк працівників</a>
        </div>

    </div>


    <!-- TABLE -->
    <div class="table-responsive">
        <table class="table table-striped table-sm printable" id="employees-table">
            <thead>
                <tr>
                    <th scope="col">ID працівника</th>
                    <th scope="col">ПІБ</th>
                    <th scope="col">Посада</th>
                    <th scope="col">Зарплата</th>
                    <th scope="col">Дата початку роботи</th>
                    <th scope="col">Дата народження</th>
                    <th scope="col">Телефон</th>
                    <th scope="col">Адреса</th>
                    <th scope="col" style="width: 130px;" class="noprint">Редагувати</th>
                    <th scope="col" style="width: 120px;" class="noprint">Видалити</th>
                </tr>
            </thead>
            <tbody>
                @{ var number = 0; }
                @foreach (Employee employee in Model.Employees)
                {
                    number++;
                    <tr>
                        <td>@employee.id_employee</td>
                        <td>@employee.empl_surname @employee.empl_name @employee.empl_patronymic</td>
                        <td>@employee.empl_role</td>
                        <td>@employee.salary.ToString("0.00")$</td>
                        <td>@employee.date_of_start.ToString("dd/MM/yyyy")</td>
                        <td>@employee.date_of_birth.ToString("dd/MM/yyyy")</td>
                        <td>@employee.phone_number</td>
                        <td>@employee.city, @employee.street, @employee.zip_code</td>
                        <td class="noprint">
                            <a class="btn btn-sm btn-outline-primary edit-delete-btn" asp-action="Edit" asp-route-id="@employee.id_employee">
                                <i class="fa-solid fa-pen-to-square me-2"></i>
                                Редагувати
                            </a>
                        </td>
                        <td class="noprint">
                            <a class="btn btn-sm btn-outline-danger edit-delete-btn" asp-action="Delete" asp-route-id="@employee.id_employee">
                                <i class="fa-solid fa-trash me-2"></i>
                                Видалити
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>