@using Zlagoda.Business.Entities;

<style>
    .page-buttons {
        border: 2px solid;
        font-weight: 500;
        width: 175px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .table-responsive {
        margin: 20px 0 40px 0;
    }

    .edit-delete-btn {
        width: 50px;
        height: 35px;
        border: none;
    }
</style>
<div class="container-fluid pt-4">
    <div class="error-list mb-2">
        @foreach (var error in Model.Errors)
        {
            <span class="error">@error<i class="fa-solid fa-xmark close"></i></span>
        }
    </div>
    <div class="row justify-content-between">
        <h2 class="text-left mb-3">Список працівників магазину</h2>
        @{
            var allEmployeesRouteData = new Dictionary<string, string>();
            var cashiersEmployeesRouteData = new Dictionary<string, string>
            {
                {"show", "cashiers"}
            };
        }
        <div class="col-4">
            <!-- dropdown -->
            <div class="dropdown">
                <button class="btn btn-sm btn-outline-dark dropdown-toggle page-buttons" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @(Context.Request.Query["show"] == "cashiers" ? "Касири" : "Усі працівники")
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" asp-all-route-data="allEmployeesRouteData">
                            Усі працівники    
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-all-route-data="cashiersEmployeesRouteData">
                            Касири
                        </a>    
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-6" style="text-align: end">
            <!-- buttons -->
            <a class="btn btn-sm btn-outline-dark page-buttons" asp-action="Create">Додати працівника</a>
            <a class="btn btn-sm btn-outline-dark page-buttons" id="print-employees">Друк працівників</a>
        </div>

    </div>


    <!-- TABLE -->
    <div class="table-responsive">
        <table class="table table-striped table-sm" id="employees-table">
            <thead>
                <tr>
                    <th scope="col" style="min-width: 30px;" class="text-center">#</th>
                    <th scope="col">ПІБ</th>
                    <th scope="col" style="min-width: 100px;">Посада</th>
                    <th scope="col" style="min-width: 100px;">Зарплата</th>
                    <th scope="col" style="min-width: 180px;">Дата початку роботи</th>
                    <th scope="col" style="min-width: 150px;">Дата народження</th>
                    <th scope="col" style="min-width: 150px;">Телефон</th>
                    <th scope="col">Адреса</th>
                    <th scope="col" class="actions">Редагувати</th>
                    <th scope="col" class="actions">Видалити</th>
                </tr>
            </thead>
            <tbody>
                @{ var employeeNumber = 0; }
                @foreach (Employee employee in Model.Employees)
                {
                    employeeNumber++;
                    <tr>
                        <td class="text-center">@employeeNumber</td>
                        <td>@employee.empl_surname @employee.empl_name @employee.empl_patronymic</td>
                        <td>@employee.empl_role</td>
                        <td>@employee.salary.ToString("0.00")$</td>
                        <td>@employee.date_of_start.ToString("dd/MM/yyyy")</td>
                        <td>@employee.date_of_birth.ToString("dd/MM/yyyy")</td>
                        <td>@employee.phone_number</td>
                        <td>@employee.city, @employee.street, @employee.zip_code</td>
                        <td class="text-center actions">
                            <a class="btn btn-outline-dark edit-delete-btn" asp-action="Edit" asp-route-id="@employee.id_employee">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                        </td>
                        <td class="text-center actions">
                            <a class="btn btn-outline-dark edit-delete-btn" asp-action="Delete" asp-route-id="@employee.id_employee">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>